// Listing Section styles
.list-heading {
   width: 100%;
   margin: 20px 0px;


   .listings {
      display: inline-flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
   }

   .back-div {
      // background: #000;
      height: 40px;
      width: 100%;
   }
}

.detail-container {
   width: 100%;
   height: 80vw;
   display: grid;
   grid-template-columns: 1fr 4fr;

   .products-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2em 1em;
      cursor: pointer;
   }

   .detail-left-column {
      background: #F5F7FF;
      height: 699px;
      width: 100%;
      display: flex;
      flex-direction: column;

      .part-one {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         h2 {
            font-size: 18px;
            padding: 14px;
         }

         button {
            width: 90%;
            height: 37px;
            border-radius: 50px;
            border: 2px solid #A2A6B0;
            background: transparent;
            color: var(--text-light);

         }
      }

      .part-two {
         .category {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            padding: 10px 15px;

            h2 {
               font-size: 16px;
               margin-right: auto;
            }
         }

         .lists {
            display: flex;
            // justify-content: center;
            align-items: center;
            justify-content: space-between;
            padding: 0px 15px;

            h3 {
               font-size: 14px;
               margin-right: auto;
            }
         }
      }

      .part-three {
         .category {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            padding: 0px 15px;

            h2 {
               font-size: 16px;
               margin-right: auto;
            }
         }

         .red-black {
            display: flex;
            gap: 10px;
            padding: 0px 15px;

            .red,
            .black {
               width: 35px;
               height: 35px;
               background: red;
               border-radius: 50%;
            }

            .black {
               background: #000;
            }
         }
      }

      .part-four {
         .category {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            padding: 0px 15px;

            h2 {
               font-size: 18px;
               margin-right: auto;
            }
         }
      }

      .button-div {
         display: flex;
         justify-content: center;

         .button1 {
            width: 230px;
            height: 50px;
            border-radius: 50px;
            background: #0156FF;
            border: 0;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            margin-top: 10px;
         }
      }

      .brand-div{

         margin-top: 25px;
         height: 100px;
         width: 265px;
         background: #F5F7FF;
      }
   }

   .detail-right-column {}
}