:root {
  --background-color: #fff;
  --footer-color: #ffffff;
  --footer-bg: #020203;
  --shadow-color: rgba(0,0,0,0.2);
  --primary-color: #0156FF;
  --text-color: #000000;
  --text-white: #ffffff;
  --text-light: #A2A6B0;
  --font-size: 16px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  font-size: var(--font-size);
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  
}

a {
  text-decoration: none;
}

.main {
  padding-block: 3vw;
}
.container {
  padding-inline: 8vw;
}



@import './styles/LandingPage.scss';
